ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul div {
  display: flex;
  justify-content: left;
}

#teamDetails {
  width: 100vw;
  height: 115vh;
  color: #c4b9e2;
  background-image: url(../../img/Bg_activities.png);
  padding-top: 20vh;
  padding-left: 25vh;
}

.deRegisterButton {
  border-radius: 6px;
  font-size: 1.3rem;
  background-color: rgb(220, 195, 236);
  color: #2c265e;
  border: 3px solid #2c265e;
  padding: 8px;
  margin-right: 5px;
  margin-left: 5px;
}

.regForm {
  padding-top: 20vh;
  padding-left: 25vh;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.regForm .addMember {
  border-radius: 6px;
  width: 150px;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(214, 185, 226);
  border: 3px solid rgb(220, 195, 236);
  padding: 5px;
}
